body, html{
    width: 100%;
}
body{
    background: #e5e9ec;
}
#head-line, #menu{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #e6f1f5),
        color-stop(1, #047FCB)
    );
    background-image: -o-linear-gradient(bottom, #e6f1f5 0%, #047FCB 100%);
    background-image: -moz-linear-gradient(bottom, #e6f1f5 0%, #047FCB 100%);
    background-image: -webkit-linear-gradient(bottom, #e6f1f5 0%, #047FCB 100%);
    background-image: -ms-linear-gradient(bottom, #e6f1f5 0%, #047FCB 100%);
    background-image: linear-gradient(to bottom, #e6f1f5 0%, #047FCB 100%);
    padding: 10px 0;
    color: #fff;
}
#logo{
    float: left;
    height: 60px;
    width: 210px;
    display: block;
    background: url('../img/logo.png') center center no-repeat;
}
#menu {
    padding: 0;
    margin: 0 0 20px 0;
    border-radius: 10px;
    -webkit-box-shadow: -3px 8px 40px -13px rgba(50,50,50,1);
    -moz-box-shadow: -3px 8px 40px -13px rgba(50,50,50,1);
    box-shadow: -3px 8px 40px -13px rgba(50,50,50,1);
}
#menu a{
    padding: 10px 20px 10px 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 #417199;
    border-right: 1px solid #e0ebef;
    -webkit-box-shadow: inset -7px 0px 0px -6px rgba(73,120,162,1);
    -moz-box-shadow: inset -7px 0px 0px -6px rgba(73,120,162,1);
    box-shadow: inset -7px 0px 0px -6px rgba(73,120,162,1);
}
#menu a:first-child {
    padding-right: 0;
}
#menu a:last-child {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#menu a.active, #menu a:hover {
    text-shadow: none;
    color: #417199;
}
